---
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import fetchStrapi, { type BlogPost } from "strapi";

export const getStaticPaths = (async ({ paginate }) => {
  const { data: posts } = await fetchStrapi<{ data: BlogPost[] }>({
    endpoint: "blog-posts",
    query: {
      populate: "featured_image",
      sort: "publishedAt:desc",
      "pagination[pageSize]": "100",
    },
  });
  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="Blog">
  <section class="px-6 py-12">
    <div class="mx-auto flex w-full max-w-3xl flex-col gap-6">
      <h1 class="text-3xl font-bold">Blog</h1>
      <ul class="flex flex-col gap-10">
        {
          page.data.map((post) => {
            const imageUrl = post.attributes.featured_image?.data?.attributes?.url;
            const href = `/blog/${post.attributes.slug}/`;
            const publishedDate = new Date(post.attributes.publishedAt).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            });
            return (
              <li class="">
                <a
                  href={href}
                  class="hover:border-brand-yellow block size-full rounded-2xl border border-gray-200 shadow-sm"
                >
                  {imageUrl && <img src={imageUrl} alt={post.attributes.title} class="h-64 w-full object-cover" />}
                  <div class="flex flex-col items-start gap-3 p-6">
                    {/* <p class="text-sm text-gray-500">{publishedDate}</p> */}
                    <h2 class="text-2xl font-bold">{post.attributes.title}</h2>
                    {post.attributes.description && <p class="text-gray-600">{post.attributes.description}</p>}
                    <span class="ml-auto">Read More &rarr;</span>
                  </div>
                </a>
              </li>
            );
          })
        }
      </ul>
      <nav class="flex items-center justify-between pt-6">
        {
          page.url.prev ? (
            <Link href={page.url.prev} style="outline">
              Previous
            </Link>
          ) : (
            <span />
          )
        }
        <span class="text-sm text-gray-500">
          Page {page.currentPage} of {page.lastPage}
        </span>
        {
          page.url.next ? (
            <Link href={page.url.next} style="outline">
              Next
            </Link>
          ) : (
            <span />
          )
        }
      </nav>
    </div>
  </section>
</Layout>
